 .u-section-1 {
  min-height: 5119px;
}

.u-section-1 .u-image-1 {
  height: 406px;
  margin-top: 116px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-2 {
  height: 850px;
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 700;
  margin: -178px 526px 0 527px;
}

.u-section-1 .u-countdown-1 {
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + 305px);
  padding: 0;
}

.u-section-1 .u-countdown-item-1 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-2 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-3 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-4 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-5 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-6 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aladin;
}

.u-section-1 .u-image-3 {
  height: 912px;
  margin-bottom: 0;
  margin-top: 3398px;
}

.u-section-1 .u-image-4 {
  height: 850px;
  margin-bottom: 0;
  margin-top: -1750px;
}

.u-section-1 .u-image-5 {
  height: 850px;
  margin-top: -3400px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-family: Aladin;
  font-size: 3rem;
  margin: -778px auto 0;
}

.u-section-1 .u-image-6 {
  height: 860px;
  margin-bottom: 0;
  margin-top: 726px;
}

.u-section-1 .u-image-7 {
  width: 1127px;
  height: 1127px;
  margin: -1692px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -115px auto 0;
}

.u-section-1 .u-image-8 {
  height: 854px;
  margin-bottom: 0;
  margin-top: 618px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -1409px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 230px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-1 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: 9px auto 0 -25px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -41px auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 21px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 205px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-1 .u-icon-2 {
  width: 47px;
  height: 47px;
  margin: 0 auto 0 -19px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: -32px auto 0 30px;
}

.u-section-1 .u-text-7 {
  margin: 21px 30px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 203px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 670px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-5 {
  padding: 9px 0;
}

.u-section-1 .u-icon-3 {
  width: 47px;
  height: 47px;
  margin: 17px auto 0 -28px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: -41px auto 0 29px;
}

.u-section-1 .u-text-9 {
  margin: 12px 26px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 241px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-1 .u-icon-4 {
  width: 47px;
  height: 47px;
  margin: 0 auto 0 -31px;
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: -38px auto 0 31px;
}

.u-section-1 .u-text-11 {
  margin: 22px 30px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 186px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin: -712px calc(((100% - 1140px) / 2) + 225px) 0 calc(((100% - 1140px) / 2) + 235px);
}

.u-section-1 .u-text-13 {
  font-family: Aladin;
  font-size: 3.3125rem;
  width: 626px;
  margin: 1343px auto 0;
}

.u-section-1 .u-icon-5 {
  font-size: 0.75em;
}

.u-section-1 .u-group-1 {
  width: 530px;
  min-height: 399px;
  margin: -559px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 56px;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-2 {
  width: 100%;
  font-size: 1.25rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 11px 142px 0 23px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 191px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 350px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-9 {
  width: 268px;
  height: 275px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  width: 218px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-17 {
  width: 218px;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-10 {
  width: 268px;
  height: 275px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-18 {
  width: 218px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-19 {
  width: 218px;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-11 {
  width: 268px;
  height: 275px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-20 {
  width: 218px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-21 {
  width: 218px;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-12 {
  width: 268px;
  height: 275px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-22 {
  width: 218px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-23 {
  width: 218px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-24 {
  text-transform: none;
  font-weight: 700;
  font-family: Aladin;
  font-size: 3.3125rem;
  width: 626px;
  margin: 152px auto 0;
}

.u-section-1 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
  padding: 4px;
}

.u-section-1 .u-image-13 {
  height: 850px;
  margin-top: 893px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-1 {
  width: 1006px;
  margin: 47px auto 23px;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-7 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-8 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-9 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-10 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-11 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-12 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-13 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-accordion-link-8 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  font-family: Aladin;
  font-weight: 400;
  padding: 25px 20px;
}

.u-section-1 .u-icon-14 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 6839px;
  }

  .u-section-1 .u-text-1 {
    width: 187px;
    margin-left: 427px;
    margin-right: 426px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-7 {
    width: 940px;
    height: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 72px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 169px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 552px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 199px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 153px;
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 125px);
    margin-left: calc(((100% - 940px) / 2) + 135px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 289px;
  }

  .u-section-1 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 317px;
    margin-right: 316px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 634px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 352px;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 885px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 227px;
    margin-right: 226px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 951px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 264px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-24 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 6812px;
  }

  .u-section-1 .u-image-1 {
    height: 850px;
    margin-top: 875px;
    margin-bottom: 0;
    width: 480px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1700px;
    width: 480px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -191px;
    margin-right: calc(((100% - 340px) / 2) + 61px);
    margin-left: calc(((100% - 340px) / 2) + 91px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-1 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-2 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-3 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-4 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-5 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-6 {
    letter-spacing: 2px;
  }

  .u-section-1 .u-image-3 {
    height: 850px;
    margin-top: 4285px;
    width: 480px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1700px;
    width: 480px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -3414px;
    width: 480px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -1594px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1555px;
    width: 480px;
  }

  .u-section-1 .u-image-7 {
    height: 422px;
    width: 422px;
    margin-top: -2390px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: 105px;
    margin-top: 38px;
  }

  .u-section-1 .u-image-8 {
    height: 862px;
    width: 480px;
    margin-top: 1884px;
    margin-right: calc(((100% - 340px) / 2) + -90px);
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -2640px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 599px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 166px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -1827px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 2136px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -452px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 75px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1426px;
    grid-gap: 10px 10px;
  }

  .u-section-1 .u-image-9 {
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-left: auto;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.5rem;
    width: 318px;
    margin-top: 165px;
  }

  .u-section-1 .u-image-13 {
    width: 480px;
    margin-top: 536px;
    margin-right: calc(((100% - 340px) / 2) + -90px);
    margin-left: auto;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
    margin-top: -1325px;
    margin-bottom: 60px;
  }
}