 .u-section-1 {
  background-image: url("images/Artboard1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 153px;
  margin: 69px auto 0 -37px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  letter-spacing: 2px;
  line-height: 1.4;
  width: 187px;
  font-weight: 700;
  margin: 439px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 0 auto 20px;
  padding: 0;
}

.u-section-1 .u-countdown-item-1 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-2 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-3 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-4 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-5 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-6 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 103px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 416px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-1 {
    font-weight: 700;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-weight: 700;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-weight: 700;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-weight: 700;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-weight: 700;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-image-1 {
    width: 92px;
    height: 92px;
    margin-top: 16px;
    margin-left: -46px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 605px;
    margin-right: 136px;
    margin-left: 397px;
  }

  .u-section-1 .u-countdown-1 {
    margin-right: -32px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-image-1 {
    width: 78px;
    height: 78px;
    margin-top: 0;
    margin-left: -39px;
  }

  .u-section-1 .u-text-1 {
    width: 187px;
    margin-top: 797px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-countdown-1 {
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.5rem;
    line-height: 1.5999999999999999;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 165px;
    margin-top: 140px;
  }

  .u-section-1 .u-countdown-1 {
    margin: 635px -37px 53px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-1 {
    letter-spacing: -1px;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-2 {
    letter-spacing: -1px;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-3 {
    letter-spacing: -1px;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-4 {
    letter-spacing: -1px;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-5 {
    letter-spacing: -1px;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-6 {
    letter-spacing: -1px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/image13.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 943px;
}

.u-section-2 .u-line-1 {
  height: 713px;
  border-style: solid;
  top: 167px;
  position: absolute;
  left: auto;
  transform-origin: center top;
  width: 3px;
  right: 555px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 5rem;
  font-family: Aladin;
  font-weight: 400;
  margin: 20px 290px 0 317px;
}

.u-section-2 .u-shape-1 {
  width: 45px;
  height: 40px;
  margin: 19px 534px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 438px;
  margin: 18px auto 0 147px;
}

.u-section-2 .u-repeater-1 {
  min-height: 656px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 81px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-2 {
  width: 404px;
  height: 145px;
  background-image: none;
  margin: 10px auto 0 -1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -136px 123px 0 19px;
}

.u-section-2 .u-text-3 {
  margin: 12px 168px 0 19px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-3 {
  width: 404px;
  height: 145px;
  background-image: none;
  margin: 10px auto 0 -1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -136px 123px 0 19px;
}

.u-section-2 .u-text-5 {
  margin: 12px 168px 0 19px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-shape-4 {
  width: 404px;
  height: 145px;
  background-image: none;
  margin: 10px auto 0 -1px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -136px 123px 0 19px;
}

.u-section-2 .u-text-7 {
  margin: 12px 168px 0 19px;
}

.u-section-2 .u-shape-5 {
  width: 28px;
  height: 28px;
  margin: -578px 542px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 398px;
  min-height: 395px;
  height: auto;
  margin: 37px 122px 0 auto;
}

.u-section-2 .u-rotation-parent-1 {
  width: 398px;
  height: 145px;
  margin: 0;
}

.u-section-2 .u-shape-6 {
  width: 398px;
  height: 145px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -136px -12px 0 281px;
}

.u-section-2 .u-text-9 {
  margin: 10px 21px 0 122px;
}

.u-section-2 .u-rotation-parent-2 {
  width: 398px;
  height: 145px;
  margin: 118px 0 0;
}

.u-section-2 .u-shape-7 {
  width: 398px;
  height: 145px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Aladin;
  margin: -136px -12px 0 281px;
}

.u-section-2 .u-text-11 {
  margin: 10px 21px 0 122px;
}

.u-section-2 .u-shape-8 {
  width: 28px;
  height: 28px;
  background-image: none;
  margin: -332px 542px 0 auto;
}

.u-section-2 .u-shape-9 {
  width: 28px;
  height: 28px;
  margin: 95px 542px 0 auto;
}

.u-section-2 .u-shape-10 {
  width: 28px;
  height: 28px;
  margin: 95px 542px 0 auto;
}

.u-section-2 .u-shape-11 {
  width: 28px;
  height: 28px;
  margin: 95px 542px 0 auto;
}

.u-section-2 .u-rotation-parent-3 {
  width: 28px;
  height: 47px;
  margin: 88px 542px 21px auto;
}

.u-section-2 .u-shape-12 {
  width: 47px;
  height: 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-line-1 {
    transform: rotate(179deg);
  }

  .u-section-2 .u-text-1 {
    margin-right: 190px;
    margin-left: 217px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 167px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-11 {
    margin-left: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 80px;
    margin-left: 107px;
  }

  .u-section-2 .u-rotation-parent-3 {
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 58.98% 84.65%;
    background-size: auto 135%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 495px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 102px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 512px;
  }

  .u-section-2 .u-shape-8 {
    margin-right: 512px;
  }

  .u-section-2 .u-shape-9 {
    margin-right: 512px;
  }

  .u-section-2 .u-shape-10 {
    margin-right: 512px;
  }

  .u-section-2 .u-shape-11 {
    margin-right: 512px;
  }

  .u-section-2 .u-rotation-parent-3 {
    margin-right: 512px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 58.2% 79.34%;
    background-size: auto 170%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 295px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 44px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 44px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 44px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 312px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 124px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -115px;
    margin-left: 252px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 85px;
  }

  .u-section-2 .u-rotation-parent-2 {
    width: 340px;
    height: 124px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -115px;
    margin-left: 252px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-shape-8 {
    margin-right: 312px;
  }

  .u-section-2 .u-shape-9 {
    margin-right: 312px;
  }

  .u-section-2 .u-shape-10 {
    margin-right: 312px;
  }

  .u-section-2 .u-shape-11 {
    margin-right: 312px;
  }

  .u-section-2 .u-rotation-parent-3 {
    margin-right: 312px;
  }
} .u-section-3 {
  background-image: url("images/image13.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 986px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-family: Aladin;
  width: 626px;
  margin: 60px auto 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 1006px;
  margin: 30px 60px 30px auto;
}

.u-section-3 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-6 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-6 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-accordion-item-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-7 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-7 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-accordion-link-8 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Aladin;
  padding: 25px 20px;
}

.u-section-3 .u-icon-8 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-3 .u-accordion-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}